<html >
    <head >
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="shortcut icon" href="/static/favicon.ico">
        <title >&nbsp;&nbsp;Allow List</title>
    </head>
    <body>
        <div class="page-header" onclick="document.location.href='?'" onMouseOver="document.getElementById('bar').style.display='';">
            <h2 style="cursor:pointer">&nbsp;&nbsp;<span class="glyphicon glyphicon-th"></span>&nbsp;&nbsp;Allow List<small >&nbsp;&nbsp;&nbsp;&nbsp;UID Allow List Management </small></h2>
        </div>
        <div id='bar' style='display:none;' onMouseOver="document.getElementById('bar').style.display='';" onMouseOut="document.getElementById('bar').style.display='none';">
            <div  class="alert alert-info col-md-12">
                <center >
                    <span class="glyphicon glyphicon-search" style="cursor:pointer" onclick="document.location.href='search'"> Search</span>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="glyphicon glyphicon-list-alt" style="cursor:pointer" onclick="document.location.href='log'"> Logs</span>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="glyphicon glyphicon-globe" style="cursor:pointer" onclick="document.location.href='lang'"> Language</span>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="glyphicon glyphicon-lock" style="cursor:pointer" onclick="document.location.href='appkey'"> AppKey</span>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="glyphicon glyphicon-tag" style="cursor:pointer" onclick="document.location.href='tag'"> Tag</span>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="glyphicon glyphicon-cloud" style="cursor:pointer" onclick="document.location.href='s3'"> S3</span>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="glyphicon glyphicon-user" style="cursor:pointer" onclick="document.location.href='account'"> Account</span>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="glyphicon glyphicon-screenshot" style="cursor:pointer" onclick="document.location.href='trace'"> Trace</span>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="glyphicon glyphicon-log-out" style="cursor:pointer" onclick="document.location.href='logout'"> Logout</span>
                </center>
            </div>
            <div  class="col-md-12">&nbsp;</div>
        </div>
        <form method="post" enctype="multipart/form-data" class="form-horizontal" role="form">
            <div class="form-group">
                <center >
                    <b >
                        <div class="col-md-1 big">Limit</div>
                        <div class="col-md-2 big">Uid</div>
                        <div class="col-md-2 big">Method</div>
                        <div class="col-md-2 big">Limit Time</div>
                        <div class="col-md-2 big">Note</div>
                        <center >
                            <div class="col-md-1">
                                <button class="btn btn-primary" onMouseOver="document.getElementById('action').value='search';">Search</button>
                            </div>
                        </center>
                        <div class="col-md-1">
                            <div class="btn alert-success">
                                <span class="big glyphicon glyphicon-save"></span>
                                <span onclick="window.open('?active=sample');"> Sample Txt.</span>
                            </div>
                        </div>
                    </b>
                </center>
                <div class="col-md-12"></div>
                <div class="col-md-1">
                    <input type="text" name="limit" value="20" id="" class="form-control" placeholder=""></input>
                </div>
                <div class="col-md-2">
                    <input type="text" name="uid" value="" id="" class="form-control" placeholder="UID Length Need = 20"></input>
                </div>
                <div class="col-md-2">
                    <input type="text" name="mode" value="" id="" class="form-control" placeholder=""></input>
                </div>
                <div class="col-md-2">
                    <input type="text" name="ltime" value="yy:0,mm:0,dd:1" id="" class="form-control" placeholder=""></input>
                </div>
                <div class="col-md-2">
                    <input type="text" name="note" value="" id="" class="form-control" placeholder=""></input>
                </div>
                <center >
                    <div class="col-md-1">
                        <button class="btn " onMouseOver="document.getElementById('action').value='save';">Save</button>
                    </div>
                </center>
                <div class="col-md-1" onclick="document.getElementById('file').click();">
                    <div class="btn alert-success">
                        <span class="big glyphicon glyphicon-open"></span>
                        <span >Upload Uid List</span>
                    </div>
                </div>
                <input type="hidden" name="active" value="" id="action" ></input>
                <input type="file" name="File" value="" id="file" style="display:none;" ></input>
            </div>
        </form>
        <table class="table table-striped" style="table-layout:fixed;">
            <tr >
                <th class="col-md-2">Uid (657639)</th>
                <th class="col-md-2">Method</th>
                <th class="col-md-2">Update Time</th>
                <th class="col-md-2">Limit Time</th>
                <th class="col-md-3">Note</th>
            </tr>
            {{ range .Data}}
            <tr >
                <td >
                    <span class="btn-link glyphicon glyphicon-remove-circle" onclick="if(confirm(&quot;確定刪除？&quot;)==true){document.location.href='?uid={{.UID}}&active=del';};"></span>&nbsp;&nbsp;{{.UID}}
                </td>
                <td ></td>
                <td >{{.Updated}}</td>
                <td >{{.Limit}}</td>
                <td >{{.Note}}</td>
            </tr>
            {{ end }}
            </tr>
        </table>
        <!-- <center >
            {{ if .Page gt 1 }}<a href="?page={{subtract .Page}}&limit={{.Limit}}">&lt;&lt;</a>{{ end }}

            {{ if (mul .Page .Limit) lt .Count }}<a href="?page={{subtract .Page}}&limit={{.Limit}}">Next Page &gt;&gt;</a>{{ end }}
        </center> -->
            
    </body>
</html>