<html >
    <head >
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="shortcut icon" href="/static/favicon.ico">
        <title >&nbsp;&nbsp;Allow List</title>
        <style>
        .dropbtn {
            background-color: #4CAF50;
            color: white;
            font-size: 16px;
            border: none;
            cursor: pointer;
            margin: auto auto auto auto;
        }

        .dropbtn:hover, .dropbtn:focus {
            background-color: #3e8e41;
        }

        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #09f909;
            min-width: 500px;
            overflow: auto;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
            margin: auto 0 auto -500px;
        }

        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

        .dropdown a:hover {background-color: #f1f1f1}

        .show {display:block;}
        </style>
    </head>
    <body onload="checkStatus()">
        <div class="page-header" onclick="document.location.href='?'" onMouseOver="document.getElementById('bar').style.display='';">
            <h2 style="cursor:pointer">&nbsp;&nbsp;<span class="glyphicon glyphicon-th"></span>&nbsp;&nbsp;Allow List<small >&nbsp;&nbsp;&nbsp;&nbsp;UID Allow List Management </small></h2>
        </div>
        <div id='bar' style='display:none;' onMouseOver="document.getElementById('bar').style.display='';" onMouseOut="document.getElementById('bar').style.display='none';">
            <div  class="alert alert-info col-md-12">
                <center >
                    <span class="glyphicon glyphicon-search" style="cursor:pointer" onclick="document.location.href='search'"> Search</span>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="glyphicon glyphicon-list-alt" style="cursor:pointer" onclick="document.location.href='log'"> Logs</span>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="glyphicon glyphicon-globe" style="cursor:pointer" onclick="document.location.href='lang'"> Language</span>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="glyphicon glyphicon-lock" style="cursor:pointer" onclick="document.location.href='appkey'"> AppKey</span>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="glyphicon glyphicon-tag" style="cursor:pointer" onclick="document.location.href='tag'"> Tag</span>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="glyphicon glyphicon-cloud" style="cursor:pointer" onclick="document.location.href='s3'"> S3</span>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="glyphicon glyphicon-user" style="cursor:pointer" onclick="document.location.href='account'"> Account</span>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="glyphicon glyphicon-screenshot" style="cursor:pointer" onclick="document.location.href='trace'"> Trace</span>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="glyphicon glyphicon-log-out" style="cursor:pointer" onclick="document.location.href='logout'"> Logout</span>
                </center>
            </div>
            <div  class="col-md-12">&nbsp;</div>
        </div>
        <form method="post" enctype="multipart/form-data" class="form-horizontal" role="form">
            <div class="form-group">
                <center >
                    <b >
                        <div class="col-md-1 big">Limit</div>
                        <div class="col-md-2 big">Uid</div>
                        <div class="col-md-2 big">Method</div>
                        <div class="col-md-2 big">Limit Time</div>
                        <div class="col-md-2 big">Note</div>
                        <center >
                            <div class="col-md-1">
                                <button class="btn btn-primary" type="submit" name="search">Search</button>
                            </div>
                        </center>
                    </b>
                </center>
                <div class="col-md-12"></div>
                <div class="col-md-1">
                    <input type="text" name="limit" value="20" id="" class="form-control" placeholder=""></input>
                </div>
                <div class="col-md-2">
                    <input type="text" name="uid" value="" id="" class="form-control" placeholder="UID Length Need = 20"></input>
                </div>
                <div class="col-md-2">
                    <input type="text" name="mode" value="" id="" class="form-control" placeholder=""></input>
                </div>
                <div class="col-md-2">
                    <input type="text" name="ltime" value="" id="" class="form-control" placeholder="yyyy/mm/dd"></input>
                </div>
                <div class="col-md-2">
                    <input type="text" name="note" value="{{if .HasNote}}{{.Note}}{{end}}" id="" class="form-control" placeholder=""></input>
                </div>
                <center >
                    <div class="col-md-1">
                        <button class="btn " type="submit" name="save">Save</button>
                    </div>
                </center>
            </div>
        </form>
        <form id="singular-create" style="margin-top: 24px" action="" method="post" class="form-inline" enctype="multipart/form-data">
            <div class="form-group"> <input type="file" name="bf" id="bf" > </div>
            <button type="submit" name="bsubmit" class="btn btn-default">Batch Upload</button>
        </form>
        <div class="dropdown pull-right">
            <button onclick="myFunction()" class="dropbtn">Sample Txt.</button>
            <div id="myDropdown" class="dropdown-content">
                [UID1], [Limit Time], [Note], [Method]<br>
                #範例-新增或修改<br>
                ABCDE12345FGHIJ67890, 2020/02/20, Test_Use<br>
                #範例-刪除<br>
                -ABCDE12345FGHIJ67890, 2020/02/20, Test_Use<br>
                #說明<br>
                #UID20碼, yyyy/mm/dd (可使用至何時), 說明, 指定特殊模式(可不填)<br>
            </div>
        </div> 
        <table class="table table-striped" style="table-layout:fixed;">
            <tr >
                <th class="col-md-2">Uid ({{.Count}})</th>
                <th class="col-md-2">Method</th>
                <th class="col-md-2">Update Time</th>
                <th class="col-md-2">Limit Time</th>
                <th class="col-md-3">Note</th>
            </tr>
            {{ range .Data}}
            <tr >
                <td >
                    <span class="btn-link glyphicon glyphicon-remove-circle" onclick="if(confirm(&quot;確定刪除？&quot;)==true){document.location.href='?uid={{.UID}}&active=del';};"></span>&nbsp;&nbsp;{{.UID}}
                </td>
                <td ></td>
                <td >{{.Updated}}</td>
                <td >{{.Limit}}</td>
                <td >{{.Note}}</td>
            </tr>
            {{ end }}
            </tr>
        </table>
        <center >
            {{ if .HasPre }}<a href="?page={{.Pre}}&limit={{.Limit}}{{if .HasNote}}&note={{.Note}}{{end}}">&lt;&lt;Previous Page</a>{{ end }}
             { {{.Page}} }
            {{ if .HasNext }}<a href="?page={{.Next}}&limit={{.Limit}}{{if .HasNote}}&note={{.Note}}{{end}}">Next Page &gt;&gt;</a>{{ end }}
        </center>

    <script>
    /* When the user clicks on the button, 
    toggle between hiding and showing the dropdown content */
    function checkStatus() {
        {{if .Success}}
        alert("Batch upload finish!");
        {{end}}
    }
    function myFunction() {
        document.getElementById("myDropdown").classList.toggle("show");
        return false;
    }

    // Close the dropdown if the user clicks outside of it
    window.onclick = function(event) {
      if (!event.target.matches('.dropbtn')) {

        var dropdowns = document.getElementsByClassName("dropdown-content");
        var i;
        for (i = 0; i < dropdowns.length; i++) {
          var openDropdown = dropdowns[i];
          if (openDropdown.classList.contains('show')) {
            openDropdown.classList.remove('show');
          }
        }
      }
    }
    </script>
            
    </body>
</html>