<html>
    <head>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <link rel="shortcut icon" href="/static/favicon.ico">
        <title >&nbsp;&nbsp;App Key Editor</title>
    </head>
    <body>
        {{ $writable := .Writable }}
        <div class="page-header" onclick="document.location.href='?'" onMouseOver="document.getElementById('bar').style.display='';">
            <h2 style="cursor:pointer">&nbsp;&nbsp;<span class="glyphicon glyphicon-th"></span>&nbsp;&nbsp;App Key Editor<small >&nbsp;&nbsp;&nbsp;&nbsp;Search all appid and appkey </small>
            </h2>
        </div>
        <div id='bar' style='display:none;' onMouseOver="document.getElementById('bar').style.display='';" onMouseOut="document.getElementById('bar').style.display='none';">
            <div  class="alert alert-info col-md-12">
                <center >
                    <span class="glyphicon glyphicon-search" style="cursor:pointer" onclick="document.location.href='search'">
                     Search
                    </span>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="glyphicon glyphicon-list-alt" style="cursor:pointer" onclick="document.location.href='log'">
                     Logs
                    </span>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="glyphicon glyphicon-globe" style="cursor:pointer" onclick="document.location.href='lang'">
                     Language
                    </span>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="glyphicon glyphicon-eye-open" style="cursor:pointer" onclick="document.location.href='allow'">
                     Allow
                    </span>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="glyphicon glyphicon-user" style="cursor:pointer" onclick="document.location.href='account'">
                     Account
                    </span>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="glyphicon glyphicon-screenshot" style="cursor:pointer" onclick="document.location.href='trace'">
                     Trace
                    </span>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="glyphicon glyphicon-log-out" style="cursor:pointer" onclick="document.location.href='logout'">
                     Logout
                    </span>
                </center>
            </div>
            <div  class="col-md-12">&nbsp;</div>
        </div>
        <form method="post" enctype="multipart/form-data" class="form-horizontal" role="form">
            <div class="form-group">
                <label for="inputId" class="navbar-brand col-md-1 control-label">Id</label>
                <div class="col-md-2">
                    <input type="text" name="id" value="" id="inputId" class="form-control input-md"></input>
                </div>
                <label for="inputKey" class="navbar-brand col-md-1 control-label">Key</label>
                <div class="col-md-2">
                    <input type="text" name="key" value="" id="inputKey" class="form-control input-md"></input>
                </div>
                <input type="hidden" name="active" value="" id="action" ></input>
                <div class="btn col-md-2">
                    <input type="file" name="File" value="" id="" ></input>
                </div>
                <div class="col-md-1">
                    <button class="btn btn-primary" name="search">Search</button>
                </div>
                {{ if $writable }}
                <div class="col-md-1">
                    <button class="btn " name="save">Save</button>
                </div>
                {{ end }}
            </div>
        </form>
        <table class="table table-striped" style="table-layout:fixed;">
            <tr >
                <th class="col-md-3">AppId (345)</th>
                <th class="col-md-7">AppKey</th>
                <th class="col-md-1">Count</th>
                <th class="col-md-1">Last</th>
            </tr>
            {{ range .Data}}
            <tr >
                <td >
                    {{ if $writable }}
                    <span class="btn-link glyphicon glyphicon-remove-circle" onclick="if(confirm(&quot;確定刪除？&quot;)==true){document.location.href='?id={{.AppId}}&active=del';};"></span>
                    {{ end }}
                    &nbsp;&nbsp;{{.AppID}}
                </td>
                <td >{{.AppKey}}</td>
                <td >{{.Count}}</td>
                <td >{{.Last}}</td>
            </tr>
            {{ end }}
        </table>
        <center >
            {{ if .HasPre }}<a href="?page={{.Pre}}&limit={{.Limit}}">&lt;&lt;Previous Page</a>{{ end }}
             { {{.Page}} }
            {{ if .HasNext }}<a href="?page={{.Next}}&limit={{.Limit}}">Next Page &gt;&gt;</a>{{ end }}
        </center>
    </body>
</html>