<html >
    <head >
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <link rel="shortcut icon" href="/static/favicon.ico">
        <title >&nbsp;&nbsp;Logs Page </title>
    </head>
    <body>
        <div class="page-header" onclick="document.location.href='?'" onMouseOver="document.getElementById('bar').style.display='';">
            <h2 style="cursor:pointer">&nbsp;&nbsp;
                <span class="glyphicon glyphicon-th"></span>
                &nbsp;&nbsp;Logs Page <small >&nbsp;&nbsp;&nbsp;&nbsp;Search all historical events </small>
            </h2>
        </div>
        <div id='bar' style='display:none;' onMouseOver="document.getElementById('bar').style.display='';" onMouseOut="document.getElementById('bar').style.display='none';">
            <div  class="alert alert-info col-md-12">
                <center >
                    <span class="glyphicon glyphicon-search" style="cursor:pointer" onclick="document.location.href='search'">
                     Search
                    </span>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="glyphicon glyphicon-globe" style="cursor:pointer" onclick="document.location.href='lang'">
                     Language
                    </span>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="glyphicon glyphicon-lock" style="cursor:pointer" onclick="document.location.href='appkey'">
                     AppKey</span>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="glyphicon glyphicon-eye-open" style="cursor:pointer" onclick="document.location.href='allow'">
                     Allow
                    </span>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="glyphicon glyphicon-tag" style="cursor:pointer" onclick="document.location.href='tag'">
                     Tag
                    </span>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="glyphicon glyphicon-cloud" style="cursor:pointer" onclick="document.location.href='s3'">
                     S3
                    </span>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="glyphicon glyphicon-user" style="cursor:pointer" onclick="document.location.href='account'">
                     Account
                    </span>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="glyphicon glyphicon-screenshot" style="cursor:pointer" onclick="document.location.href='trace'">
                     Trace
                    </span>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="glyphicon glyphicon-log-out" style="cursor:pointer" onclick="document.location.href='logout'">
                     Logout
                    </span>
            </center>
            </div>
            <div  class="col-md-12">&nbsp;
            </div>
        </div>
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label for="inputLimit" class="col-md-1 control-label">Limit</label>
                <div class="col-md-1">
                    <input type="text" name="limit" value="{{.Limit}}" id="inputLimit" class="form-control"></input>
                </div>
                <label for="inputStatus" class="col-md-1 control-label">Status</label>
                <div class="col-md-1">
                    <input type="text" name="status" value="{{.Status}}" id="inputStatus" class="form-control"></input>
                </div>
                <label for="inputFrom" class="col-md-1 control-label">From</label>
                <div class="col-md-2">
                    <input type="text" name="from" value="{{.From}}" id="inputFrom" class="form-control"></input>
                </div>
                <label for="inputTo" class="col-md-1 control-label">To</label>
                <div class="col-md-2">
                    <input type="text" name="to" value="{{.To}}" id="inputTo" class="form-control"></input>
                </div>
                <div class="col-md-12"></div>
                <label for="inputIP" class="col-md-1 control-label">IP</label>
                <div class="col-md-2">
                    <input type="text" name="ip" value="{{.Ip}}" id="inputIP" class="form-control"></input>
                </div>
                <label for="inputText" class="col-md-1 control-label">Text</label>
                <div class="col-md-4">
                    <input type="text" name="text" value="{{.Text}}" id="inputText" class="form-control"></input>
                </div>
                <div class="col-md-1">
                    <button class="btn btn-primary">Filter</button>
                </div>
            </div>   
        </form>
        <table class="table table-striped" style="table-layout:fixed;">
            <tr >
                <th class="col-md-2">DateTime</th>
                <th class="col-md-1">Status</th>
                <th class="col-md-9">Content</th>
            </tr>
            {{ range .Data}}
            <tr >
                <td >{{ .DateTime }}</td>
                <td >{{ .Status }}</td>
                <td >{{ .Content }}</td>
            </tr>
            {{ end }}
        </table>
        <center >
            {{ if .HasPre }}<a href="?page={{.Next}}&limit={{.Limit}}&from={{.From}}&to={{.To}}&ip={{.Ip}}&status={{.Status}}&text={{.Text}}">&lt;&lt;Previous Page</a>{{ end }}
             { {{.Page}} }
            {{ if .HasNext }}<a href="?page={{.Next}}&limit={{.Limit}}&from={{.From}}&to={{.To}}&ip={{.Ip}}&status={{.Status}}&text={{.Text}}">Next Page &gt;&gt;</a>{{ end }}
        </center>
    </body>
</html>